html, body {
    padding:0;
    margin:0;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.two.columns                    { width: 14%; }
.four.columns                   { width: 33%; }
.six.columns                    { width: 44%; }
.eight.columns                  { width: 67%; }
.ten.columns                    { width: 86%; }
.twelve.columns                 { width: 100%;}
.offset-by-two.columns          { margin-left: 23%;}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5, h6, p, li{
  font-family: "San Francisco","Helvetica Nueue", sans-serif;
  letter-spacing: 0;
  margin-bottom: 0;
  color: #222;
  font-weight: 200;
  line-height: 1.6em;
}

h4 {
  font-style: italic;
}

.bold {
  font-weight: 400;
}

#header-cell {
  margin-top: 4em;
  margin-bottom: 4em;
}

#body {
  background-color: #fafafa;
}

#body .container {
  padding-top: 4em;
  padding-bottom: 4em;
}

#body .row {
  padding-top: 1em;
  padding-bottom: 1em;
}

.entry img {
  width: 320px;
  height: 320px;
  object-fit: cover;
}

img {
  width: 80%;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 9px 25px 1px rgba(0,0,0,0.18), 0 10px 45px 0 rgba(0,0,0,0.12);
}

button {
  display: inline-block;
  height: 44px;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #13441C;
  margin-top: 4em;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #537759;
  color: #fff;
}

.button {
  display: inline-block;
  height: 44px;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #13441C;
  margin-top: 4em;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #537759;
  color: #fff;
}

input {
   margin-top: 2em;
   text-align: left;
   display: inline-block;
   height: 44px;
   padding: 0 16px;
   color: #222;
   font-size: 14px;
   font-weight: 400;
   line-height: 38px;
   letter-spacing: .1rem;
   text-decoration: none;
   white-space: nowrap;
   background-color: #fff;
   border-radius: 4px;
   border: 1px solid #D1D1D1;
   cursor: pointer;
   box-sizing: border-box;
}

input::placeholder {
  color: #999;
  font-size: 14px;
  font-weight: 200;
}

input:focus {
  color: #222;
  border-color: #537759;
  outline: 0;
}

.u-full-width {
  width: 90%;
}

#footer {
  background-color: #222;
  padding-top: 4em;
  padding-bottom: 8em;
}

#footer h2 {
  color: #fff;
  margin-bottom: 2em;
}

#footer a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 300;
  color: #999;
  margin-right: 1em;
}

#footer a:hover {
  text-decoration: none;
  color: #fff;
}

#footer .links {
  display: flex;
}

#signup {
  padding-bottom: 4em;
}

li {
  display: inline;
  list-style-type: none;
  text-align: right;
  margin-left: 48px;
}

nav {
  background-color: #fff;
  box-shadow: 0 5px 36px 0 rgba(0,0,0,0.12);
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}

.aboutPage{
  border-bottom: solid black 5px;
}

a {
  text-decoration: none;
}

.classLink {
  margin-top: 30px;
  padding: 7px;
  margin-right: 70px;
  color: rgb(81, 177, 96);
  background-color: black;
  border: solid rgb(81, 177, 96) 5px;
  }

.username {
padding: 20px;
font-size: 20px;
float: left;
margin-right: 40px;
margin-top: 50px;
}

.housingComment {
padding: 20px;
font-size: 20px;
margin-top: 50px;
}

.housing {
  padding-top: 4em;
  padding-bottom: 20em;
}

.housing-account {
  padding-top: 4em;
  padding-bottom: 8em;
}

.housing-submit {
  padding-bottom: 4em;
  border-bottom: 1px solid #222;
}

.housing-posts {
  padding-top: 2em;
}

.pic {
  width: 300px;
  height: 300px;
  margin-top: 50px;
  margin-right: 25px;
}

#menu a {
  font-weight: 400;
  font-size: 16px;
  color: #222;
}

#menu li a:hover {
  color: #13441C;
}

#menu li a:active{
  transform: translateY(1.5px);
}

#menu .right-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 6px;
}

#menu .contain {
  padding-left: 0;
}

#menu h3 {
  color: #13441C;
}

#current_page{
  border-bottom: 1px solid #13441C;
  color: #13441C;
}

.homePage, .contactPage {
  border-bottom: solid black 5px;
  padding: 150px;
  padding-left: +200px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid #222;
}

.about {
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid #222;
}

.contact {
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid #222;
}

.contact h2 {
  margin-bottom: 1em;
}

.home img {
  width: 100%;
}

.last {
  border-bottom: none;
  padding-bottom: 8em;
}

a{
  color: #fff;
}

.message{
  font-weight: bold;
}

#logo{
  float: left;
  margin-left: -50%;
  width: 150%;
  margin-bottom: 1%;
  margin-right: 50%;
  margin-top: -40%;
  box-shadow: none;
}

img#logo{
  box-shadow: none;
}

img.socialmedia {
  margin-top: 5px;
  float: left;
  width: 100px;

}

.lbl{
  text-align:left;
  float:left;
}

textarea {
  height: 15vh;
  width: 100%;
  padding: 16px 16px;
  color: #222;
  font-size: 16px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #D1D1D1;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 2em;
}

textarea:focus {
  outline: none;
  border-color: #537759;
}

.housing-button {
  display: inline-block;
  height: 44px;
  padding: 0 16px;
  color: #13441C;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  margin-top: 4em;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #13441C;
}

.housing-button:focus {
  outline: 0;
}

.housing-button:hover {
  border: 1px solid #537759;
  color: #537759;
}
